/*Nav-bar below*/
nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
}
.nav_link {
    margin: 10px 15px;
}
.apps {
    background-color: transparent;
    height: 1.5rem;
    width: 1.5rem;
    margin: 10px 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.1rem;
}
.apps_box{
    background-color: #5f6368;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
button {
    height: 34px;
    margin: 10px 15px;    
}
a {
    color: #5f6368;
}
.sign_in {
    font-weight: 900;
    border-radius: 4px;
    color: #FFF;
    background-color: #4285f4;
    border: 0px;
    width: 70px;
}

/*main content below*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:60vh;
}
.btn_contain {
    display: flex;
}
#Google_logo {
    width: 20rem;
    height: auto;
    margin: 1rem 0px;
}
.search_buttons {
    background-color: #f2f2f2;
    border: 0px;
    color: #5F6368;
    border-radius: 4px;
    padding: 0px 1rem;
    margin: 1rem 0.5rem;
}
.text_field {
    margin: 1rem 0px;
}

/*footer*/
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 2.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgb(240, 240, 240);
    align-items: center;
}
.left {
    display: flex;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.bottom_text {
    padding: 0rem 1rem;
}